.nav {
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: linear-gradient(135deg, #dbeafe 0%, #e0e7ff 100%);
  box-shadow: 0 2px 2px #aaa;
  margin-bottom: 1rem;
}

.navTitle {
  flex: 1;
  font-size: xx-large;
}

.navLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .navLink {
    border: 1px solid #aaa;
    padding: 0.5rem;
  }
  .navLink:hover {
    text-decoration: none;
  }
}
