.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}
.registerForm label {
  font-weight: bold;
}
.registerForm input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.registerTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
