.indexTitle {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 1rem;
}

.indexSubTitle {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.postsWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
