.post {
  display: flex;
  flex-direction: column;
}

.postTitle {
  text-align: center;
  font-size: 5em;
  height: fit-content;
  background: linear-gradient(135deg, #dbeafe 0%, #e0e7ff 100%);
  padding: 1rem;
}

.postText {
  padding: 2rem;
}

.commentTitle {
  font-size: xx-large;
  text-align: center;
}

.line {
  margin: 1rem 2rem;
}

.commentWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 500px;
  gap: 1rem;
}

.commentForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  min-width: 500px;
}

.error {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .adminActions {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .commentWrapper,
  .commentForm {
    min-width: 250px;
  }
}
