.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form > div > input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form {
  width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

.error {
  color: red;
  font-weight: bold;
}
